<h1>About Pooch Palace </h1>

<div>
  <h3>Location</h3>
    <p> We are located at 1234 State Street  New Orleans, LA 70118</p>
</div>

<div>
  <h3>Services</h3>
  <ul>
    <li> Dog sitting </li>
    <li> Grooming </li>
    <li> Walks every 2 hours </li>
    <li> Overnight boarding </li>
    <li> Meal time with your preferred dog food</li>
    <li> Play time daily with dogs of similar size and personality </li>
  </ul>

</div>